.certificateSectionTitte {
    background-color: #252525;
    width: 100%;
    color: white;
    font-family: poppins;
    padding-left: 1em;
    font-weight: 500;
}

#certificate {
    padding: 1.2em;
    width: 100%;
    height: 35dvh;
    background-color: #252525;
    display: grid;
    gap: 4px;
    grid-template-columns: 25% 25% 25% 25%;
}

.certificates {
    background-size: cover;
    background-position: center;
    height: 90%;
    margin-right: 1em;
}

.hospitalityCertificate {
    background-image: url(../img/certificates/hospitalitycertificate.png);

}

.webDevCertificate {
    background-image: url(../img/certificates/discoverCertificate.png);
}

.englishCertificate {
    background-image: url(../img/certificates/englishCertificate.png);
}

.excelCertificate {
    background-image: url(../img/certificates/excelCertificate.png);
}