#certificate {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.certificatesImagens{
    width: 300px;
    height: 200px;
    background-position: center;
    background-size: cover;

}

.certificatesConteiner{
    max-width: 300px;
}

.txtCertificate{
    padding: .5em;
    font-family: poppins;
}
#englishCertificate{
    background-image: url(../img/certificates/englishCertificate.png);
}

#rocketSeatCertificate{
    background-image: url(../img/certificates/discoverCertificate.png);
}

#hospitalityCertificate{
    background-image: url(../img/certificates/discoverCertificate.png);
}