#slideSection{
    min-height: 90dvh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 94%;
}

.sliderButtons{
    font-size: 2em;
}
.sliderButtons:hover {
    cursor: pointer;
}

.slide{
    width: 90%;
    height: 90%;
    border-radius: 20px;
    /* background-color: red; */
    display: flex;
    padding: 1em;
    position: absolute;
}



.slidePicContainer{
    width: 50%;
    display: flex;
    align-items: center;
}

/* .slidePic{
    height: 70%;
    width: 100%;
    border-radius: 1em;
    padding: 1em;
    background-color: blue;
    background-image: url(../img/centro-estetico.jpg) ;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
} */

.slidePicture {
    width: 100%;
    border-image: 10px;
}

.slideTxt{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: poppins;
    gap: 1em;
    padding: 1.3em;
    /* background-color: orange; */
}

.slideTittle{
    font-size: 2em;
}

.jobTittle {
    font-size:0.8em;
}

.slideOff {
    display: none;
}

.mobileButtons{
    display: none;
}

@media screen and (max-width: 800px) {
    #slideSection{
        min-height: 1px; /*Se eu mudar isso, o site quebra, ainda não entendi*/
        padding: 0;
        margin: 0;
    }

    .slide {
        flex-direction: column; 
        position: relative; 
        padding: 0;
    }
    .slideTxt{
        width: 100%;
        padding: 0;
    }
    .slideTittle{
        font-size: 1.4em;
    }
    .slidePicContainer{
        width: 90%;
        margin: 1em auto;
        justify-content: center;
        align-items: center;
    }

    .sliderButtons{
        position: absolute;
        z-index: 1;
        display: none;
    }

    .mobileButtons{
        margin: 2em auto;
        /* background-color: #252525; */
        width: 90%;
        height: 2em;
        display: flex;
        gap: 1em;
        justify-content: space-around;
        align-items: center;

    }
    .mb-buttons{
        color: #252525;
        height: 100%;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 500px;
        border: 1px black solid;
    }

}